* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(162, 219, 235);
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn {
  background-color: rgb(162, 219, 235);
  color: black;
  align-self: center;
  width: 120px;
  height: 30px;
}
.list {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.item {
  margin-top: 20px;
  margin-bottom: 20px;
}
h2 {
  margin-top: 8px;
  text-align: center;
  font-weight: normal;
}
.container {
  margin-top: 60px;
  border-radius: 5px;
  background-color: white;
  width: 450px;
  height: 650px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
